<div class="fm">
    <div class="fm-top-menu">
        <fm-top-menu></fm-top-menu>
    </div>
    <fm-right-menu></fm-right-menu>
    <div class="fm-content">
        <fm-folders-tree></fm-folders-tree>
        <div class="fm-files-list">
            <fm-files-list></fm-files-list>
        </div>
    </div>
    <div class="fm-footer">
        <button ng-click="insert()"
                ng-disabled="!selectedFiles.length"
                type="button"
                class="btn btn-primary pull-right">
            Выбрать
        </button>
    </div>
</div>